<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>index</title>
</head>
<body>
  <h3>倉田マネージャー</h3>
  <p><a data-th-href="@{/tapsuggestSample}">tapsuggest機能画面</a></p>
  <h3>岩井</h3> 
  <p><a data-th-href="@{/iwai/mybatis/display}">デモ機能画面</a></p>
  <p><a data-th-href="@{/iwai/login/display}">セキュリティ部品を用いたLoginのサンプル</a></p>
  <p><a data-th-href="@{/iwai/ajaxTest/display}">ajaxサンプル（岩井確認用）</a></p>
  <p><a data-th-href="@{/iwai/jaxb/sample}">JAXBサンプル</a>
  <p><a data-th-href="@{/iwai/first/show}">SessionScopedBean確認</a>
</body>
</html>