<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>初期画面</title>
</head>
<body>
  <div data-th-object="${form}">
    <form method="GET" data-th-action="@{/iwai/mybatis/select}">
      <input type="submit" value="SELECT実行" />
    </form>
    <br />
    <form method="POST" data-th-action="@{/iwai/mybatis/add}">
      <input type="text" name="userId" data-th-value="${form.userId}" /><span data-th-if="${#fields.hasErrors('userId')}" data-th-errors="*{userId}"></span><br />
      <input type="text" name="userName" data-th-value="${form.userName}" /><br />
      <input type="text" name="userPassword" data-th-value="${form.userPassword}" /><br />
      <input type="submit" value="INSERT実行" /><br />
    </form>
  </div>
</body>
</html>