<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>エイム・ソフト勤怠管理システム</title>
</head>
<body>
	<h1>エイム・ソフト勤怠管理システム</h1>
	<p>編集画面</p>
	<p data-th-text="'編集者ID　: ' + ${model.userId}"/><!-- セッション情報 -->
	<p data-th-text="'編集者名　:　' + ${model.userName}" /><!-- セッション情報 -->
	
	<hr>
		
	<form action="NameBook" method="POST">
		<select name="syainName">
			<option data-th-each="item : ${syainitems.keySet()}" 
					data-th-text="${syainitems.get(item).get(0)}" 
					data-th-value="${item}" 
					data-th-selected="${item} == ${model.syainName}">
			</option>
		</select>
		<input type=submit value="検索">
	</form>
	
	<p data-th-text="'社員　：　'+ ${syainitems.get(model.syainName).get(0)}"/><!-- レスポンス情報 -->
	<p data-th-text="'入社日　：　'+ ${syainitems.get(model.syainName).get(1)}"/>
	<p data-th-text="'部門　：　'+ ${syainitems.get(model.syainName).get(2)}"/>
	<p data-th-text="'現場　：　'+ ${syainitems.get(model.syainName).get(3)}"/>
</body>
</html>