<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../../lib/tapsuggest/css/demo.css" data-th-href="@{/lib/tapsuggest/css/demo.css}" />
    <title>サンプル画面</title>
</head>

<body>
    <div class="container">
        <h1>TapSuggest.js(default)</h1>
        <h2>ユーザー名検索</h2>
        <div class="formArea">
            <form id="form-id" method="post" action="">
                <div class="inputArea">
                    <input type="text" name="dummy" class="tsInput"></input>
                    <br />
                    <input type="hidden" name="dummy3"></input>
                </div>
                <input type="text" name="dummy-u"></input>
            </form>
        </div>
        <div class="tsArea"></div>
    </div>
    <script src="../../../node_modules/jquery/dist/jquery.js" data-th-src="@{/node_modules/jquery/dist/jquery.js}"></script>
	<script>
        var oForm = document.getElementById('form-id');
        oForm.method = "post";
//        oForm.action = "http://192.168.2.109:8080/skill-spider/ss01/initSch";
        oForm.action = "http://192.168.2.109:8080/skill-spider/ss01/register";
  
        oForm.submit();
	</script>
</body>

</html>
