<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>初期画面</title>
</head>
<body>
  <div>
    <form class="main-form" enctype="multipart/form-data" method="POST">
      <input type="file" name="uploadFile" />
      <input type="submit" class="upload-file" value="アップロード" />
    </form>
  </div>
  <script type="text/javascript" data-th-src="@{/node_modules/jquery/dist/jquery.js}"></script>
  <script type="text/javascript" data-th-src="@{/js/sample/mybatisTest/ajaxFileUpload.js}"></script>
</body>

</html>
