<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../../lib/tapsuggest/css/reset.css" data-th-href="@{/lib/tapsuggest/css/reset.css}" />
    <link rel="stylesheet" href="../../../lib/tapsuggest/css/demo.css" data-th-href="@{/lib/tapsuggest/css/demo.css}" />
    <link rel="stylesheet" href="../../../lib/tapsuggest/css/TapSuggest.css" data-th-href="@{/lib/tapsuggest/css/TapSuggest.css}" />
    <script src="../../../node_modules/jquery/dist/jquery.js" data-th-src="@{/node_modules/jquery/dist/jquery.js}"></script>
    <script src="../../../lib/tapsuggest/js/Jquery.TapSuggest.js" data-th-src="@{/lib/tapsuggest/js/Jquery.TapSuggest.js}"></script>
    <title>サンプル画面</title>
</head>

<body>
    <div class="container">
        <h1>TapSuggest.js(default)</h1>
        <h2>ユーザー名検索</h2>
        <div class="formArea">
            <form method="post" action="">
                <div class="inputArea">
                    <input type="text" class="tsInput"></input>
                </div>
            </form>
        </div>
        <div class="tsArea"></div>
    </div>
    <script type="text/javascript">
        //demoなのでファイルの外だしはまだしない。

        $(function () {

            //object配列サンプル
            $.ajax({
                type: 'POST',
                url: '/aimsoft-attendance/getDataFortapSuggestLib',
            }).done(function (data) {
                //dataが取れるところまで確認。
                console.log(data);

            });

            var jsonString = {
            		"loginId":"testLoginId4214213"
            		};


            //json形式サンプル
            $.ajax({
                type: 'POST',
                url: '/aimsoft-attendance/getDataFortapSuggestLib1',
                data: JSON.stringify(jsonString),
        		contentType: 'application/json',//これが無いとうまくいかない・・・
        		datatype: 'json',
        		scriptCharset: 'utf-8'
            }).done(function (data) {
                console.log(data);
            });

            $.ajax({
                type: 'POST',
                url: '/aimsoft-attendance/getDataFortapSuggestLib2',
            }).done(function (data) {
                //restと同様のデータが取得できる。
                console.log(data);
            }).fail(function (data) {
                // 失敗時.
            }).always(function (data) {
                // 常に（finalyと同様）

            });

            $.ajax({
                type: 'POST',
                url: '/aimsoft-attendance/rest/getDataFortapSuggestLib2',

            }).done(function (data) {
                //dataが取れる  ところまで確認。
                console.log("rest/getDataFortapSuggestLib2: " + data);
                $('.tsArea').TapSuggest({
                    tsInputElement: '.tsInput',
                    tsArrayList: data,
                    tsRegExpAll: true
                });
            });

            if (false) {
                //配列の配列を渡さないといけない
                $('.tsArea').TapSuggest({
                    tsInputElement: '.tsInput',
                    tsArrayList: ['伊藤', ['倉田', 'kurata', 'くらた'], '岩井', '鈴木', 'バレーボール', ['競馬', 'けいば']],
                    tsRegExpAll: true
                });
            }
        });
    </script>
</body>

</html>